<h1><img src="022stackoverflowchallenge.png" alt="022 Stack Overflow Challenge" /></h1>

<div id="description">
	<p>Welcome to <strong>022 Stack Overflow Challenge Season 2</strong>! This season features Team Seattle vs. Team Bay Area (with some Bellevue)! The rules are simple, the team with the most <strong>Stack Overflow Reputation</strong> in <strong>6 weeks</strong> wins!</p>

	<p><strong>Reputation</strong> is like Reddit upvotes, you do things on Stack Overflow and get points. Your 022 Stack Overflow Challenge score is simply any Reputation you gain after the competition start date - all competitors start at 0 points. <a href="http://stackoverflow.com/faq#reputation" target="_blank">See how to earn Stack Overflow Reputation.</a></p>

	<p>It's not too late to join! Add your name to the <a href="https://docs.google.com/spreadsheet/ccc?key=0AtdiUzPLzgsidERKS0dIeGZtYlYxbHVHY0hDRWhxZkE#gid=0">Google Doc</a> and tell Golf.</p>
</div>

<div id="graph"></div>
<div id="progressbar" data-percentage="<%= days_from_beginning / 40 * 100 %>"></div>

<p>Sep 28<span style="float: right">Oct 28</span></p>

<h2 class="big">Standings</h2>
<ol id="standings">
<% @data['users'].each do |user_id, user| %>
  <li>
    <div class="gray">
    <h3>
      <a href="http://stackoverflow.com/users/<%= user_id %>"><%= user['display_name'] %></a>
      <span class="score right" title="reputation score"><%= user['reputation'] %>
    </span>
    </h3>
    <span class="small">Last seen on Stack Overflow: <%= format_date(user['last_access_date'], false) %></span>
    </div>
  </li>
<% end %>
</ol>

<h2>Latest reputation changes</h2>
<div class="box">

  <% if @data['recentReputationChanges'].empty? %>
    No reputation score changes yet!
  <% end %>
  <ol>
  <% @data['recentReputationChanges'].each do |change|
    user_id = change['user_id'].to_i
    rep_change = change['positive_rep'].to_i - change['negative_rep'].to_i
    %>
    <li>
      <%= rep_change > 0 ? "<span class='positive'>+rep_change</span>" : "<span class='negative'>rep_change</span>" %>
      <strong><a href="http://stackoverflow.com/users/<%= user_id %>"><%= users[user_id]['display_name'] %></a>
      <%= change['post_type'] == "answer" ? "a:" : "q:" %></strong> <a class="bodytext"href="http://stackoverflow.com/questions/<%= change['post_id'] %>"><%= change['title'] %></a>

      <span class="small"><%= format_date(change['on_date']) %></span>

    </li>
  <% end %>
  </ol>

</div>

<div class="column left">

  <h2>Top Questions</h2>
  <div class="box">
  <% if @data['top3Questions'].empty? %>
    No questions yet!
  <% end %>
    <ol>
    <% @data['top3Questions'].each do |question| %>
      <li><%= get_question_html question %></li>
    <% end %>
    </ol>
  </div>

  <h2>Worst Question</h2>
  <div class="box">
    <% if @data['worstQuestion'][0]['score'] >= 0 %>
      No questions currently have negative votes
    <% else %>
      <%= @data['worstQuestion'][0] %>
    <% end %>
  </div>

</div>

<div class="column right">

  <h2>Top Answers</h2>
  <div class="box">

  <% if @data['top3Answers'].empty? %>
    No answers yet!
  <% end %>
  <ol>
    <% @data['top3Answers'].each do |answer| %>
      <li><%= get_answer_html answer %></li>
    <% end %>
  </ol>
  </div>

  <h2>Worst Answer</h2>
  <div class="box">

  <% if @data['worstAnswer'][0]['score'] >= 0 %>
    No answers currently have negative votes
  <% else %>
    <%= get_answer_html @data['worstAnswer'][0] %>
  <% end %>
  </div>

</div>

<script type="text/javascript">

  var _gaq = _gaq || []
  _gaq.push(['_setAccount', 'UA-25893301-1'])
  _gaq.push(['_trackPageview'])

  (function() {
    var ga = document.createElement('script') ga.type = 'text/javascript' ga.async = true
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'
    var s = document.getElementsByTagName('script')[0] s.parentNode.insertBefore(ga, s)
  })()

</script>